<div class="authMain">
    <img class="backgroundLoginImg" src="./../../../../assets/img/background_login.jpg">
    <mat-card>
        <mat-card-header>
            <img class="placeholderIcon" src="./../../../../assets/icons/logo.png">
            <h1>Slack-Clone</h1>
        </mat-card-header>
        <mat-card-subtitle>
            Set new Password
        </mat-card-subtitle>
        <form (ngSubmit)="setNewPassword()" [formGroup]="user">
            <mat-card-content>
                <mat-form-field appearance="fill">
                    <mat-label>Enter new password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <mat-error *ngIf="user.invalid">{{getErrorMessage('password')}}</mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>
                            <img *ngIf="hide" src="assets/svg/color_d1d2d3/visibility.svg">
                            <img *ngIf="!hide" src="assets/svg/color_d1d2d3/visibility_off.svg">
                        </mat-icon>
                    </button>
                </mat-form-field>
                <button type="submit" [disabled]="!user.valid" class="actionButton enable submit" mat-raised-button>Set
                    new password</button>
            </mat-card-content>
        </form>
    </mat-card>
    <div class="legalNotice">
        <a routerLink="/imprint">Imprint</a>
        <a routerLink="/dataprotection">Dataprotection</a>
    </div>
</div>