// includes all colors in the project
// Color Themes gerneral
$bg-color-main: #1A1D21;
$bg-color-secondary: #19171D;
$bg-color-hover: #222529;
$bg-color-light: #2A2D30;
$bg-accent: #121016;
$bg-dialog: #1A1D21;
$bg-button-dashboard-header: #38373C;
$color-link: #40b3e4;
$color-black: #000000;
$color-main: #D1D2D3;
$color-secondary: #939295;
$border-button-main: rgba(255, 255, 255, 0.12);
$border-button-dashboard-header: #d1d2d357;
$border-button-enable: #7b1fa2;
$border-button-disable: #D1D2D3;
// Color Themes for Auth Components
$background-auth-compontens: #4A154B;
$link-auth-compontens: #D1D2D3;
$link-hover-auth-compontens: #007a5a;
$background-button-auth1: #7b1fa2;
$background-button-auth2: transparent;
// Color Themes for PushUp Components
$background-card-success: #007a5a;
$background-card-error: #ff0000;
$background-card-info: #e2e200;
// Color Themes for Edituser and Reauth Components
$button-color-1: #007a5a;
$button-color-2: #ff0000;
$bg-clr-green-accent: #007a5a;
$bg-clr-red-accent: #9e2648;