<div class="authMain">
    <img class="backgroundLoginImg" src="./../../../../assets/img/background_login.jpg">
    <mat-card>
        <mat-card-header>
            <img class="placeholderIcon" src="./../../../../assets/icons/logo.png">
            <h1>Slack</h1>
        </mat-card-header>
        <mat-card-subtitle>
            Verification <br><br> Please verify your email address !
        </mat-card-subtitle>
        <mat-card-content>
            <button class="actionButton enable submit" mat-raised-button routerLink="/login">Back to Login</button>
        </mat-card-content>
    </mat-card>
    <div class="legalNotice">
        <a routerLink="/imprint">Imprint</a>
        <a routerLink="/dataprotection">Dataprotection</a>
    </div>
</div>