<div class="bar-layout">
    <header>
        <div class="bar-header">
            <h2>Thread</h2>
            <div class="header-headline" *ngIf="channel.category == 'channel'">
                <h3 class="channel-name">#</h3>
                <h3 class="channel-name">{{channel.channelName}}</h3>
            </div>
            <div class="header-headline" *ngIf="channel.category == 'private'">
                <h3 class="channel-name">{{channel.users | messagePartner }}</h3>
            </div>
        </div>
        <button (click)="navService.closeRightBar(route.parent)" class="btn-unset close-thread-btn">
        <img src="assets/svg/color_d1d2d3/x.svg">
    </button>
    </header>


    <div class="channel-thread">
        <a *ngIf="(thread.userId | canClick)" (click)="navService.navToRightBar('profile/'+thread.userId,route.parent)">
            <img [src]="thread.userId | imgSrc: currentDataService.users" class="channel-thread-img">
        </a>
        <a *ngIf="!(thread.userId | canClick)">
            <img [src]="thread.userId | imgSrc: currentDataService.users" class="channel-thread-img">
        </a>
        <div class="channel-thread-content">
            <p class="thread-headline">
                <a class="pointer a-name" *ngIf="(thread.userId | canClick)" (click)="navService.navToRightBar('profile/'+thread.userId,route.parent)">
                    <b>{{ thread.userId | username }}</b>
                </a>
                <a class="pointer a-name" *ngIf="!(thread.userId | canClick)">
                    <b>{{ thread.userId | username }}</b>
                </a>
                <span class="span-time" *ngIf="thread.creationDate">
                {{ thread.creationDate| date }}
            </span>
            </p>
            <p [innerHTML]="thread.message"></p>
            <button class="btn-unset" (click)="openBox(thread.img)" *ngIf="thread.img">
            <img class="post-image" [src]="thread.img">
        </button>
        </div>
    </div>


    <div class="thread-separator">
        <div>
            <span>Replies</span>
            <hr>
        </div>
    </div>

    <div class="div-btn-load-more" *ngIf="moreToLoad">
        <button class="btn-unset" (click)="isMoreToLoad()">Load More</button>
    </div>

    <app-template-chatroom [data]="{
        collPath: this.collPath,
        threads: this.comments,
        currentUser: this.currentUser,
        channelId: this.channelId,
        isFirstLoaded: this.isFirstLoad
    }" style="flex: 1;
    overflow: auto;"></app-template-chatroom>
    <app-message-editor *ngIf="isInChannel()" [collectionPath]="this.collPath" [thread]="false"></app-message-editor>
</div>