* {
    color: white !important;
    text-align: center;
}

.type {
    font-size: 1.25rem;
    margin-bottom: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.message {
    font-size: 1rem;
}