<div class="authMain">
    <img class="backgroundLoginImg" src="./../../../../assets/img/background_login.jpg">
    <mat-card>
        <mat-card-header>
            <img class="placeholderIcon" src="./../../../../assets/icons/logo.png">
            <h1>Slack</h1>
        </mat-card-header>
        <mat-card-subtitle>
            Reset Password
        </mat-card-subtitle>
        <form (ngSubmit)="reset()" [formGroup]="user">
            <mat-card-content>
                <div class="headerButtons">
                    <button class="actionButton disable" mat-raised-button routerLink="/login">Login</button>
                    <button class="actionButton enable" mat-raised-button routerLink="/reset">Reset
                        Password</button>
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" required>
                    <mat-error *ngIf="user.invalid">{{getErrorMessage('email')}}</mat-error>
                </mat-form-field>
                <a routerLink="/registration">No account? SignUp</a>
                <button [disabled]="!user.valid" type="submit" class="actionButton enable submit" mat-raised-button>Send
                    me a mail</button>
            </mat-card-content>
        </form>
    </mat-card>
    <div class="legalNotice">
        <a routerLink="/imprint">Imprint</a>
        <a routerLink="/dataprotection">Dataprotection</a>
    </div>
</div>