<div class="authMain">
    <img class="backgroundLoginImg" src="./../../../../assets/img/background_login.jpg">
    <mat-card>
        <mat-card-header>
            <img class="placeholderIcon" src="./../../../../assets/icons/logo.png">
            <h1>Slack-Clone</h1>
        </mat-card-header>
        <mat-card-subtitle>
            SignUp
        </mat-card-subtitle>
        <form (ngSubmit)="register()" [formGroup]="user">
            <mat-card-content>
                <div class="headerButtons">
                    <button class="actionButton disable" mat-raised-button routerLink="/login">Login</button>
                    <button class="actionButton enable" mat-raised-button>SignUp</button>
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your username</mat-label>
                    <input matInput placeholder="Enter your Username" formControlName="username" required>
                    <mat-error *ngIf="user.invalid">{{getErrorMessage('username')}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" required>
                    <mat-error *ngIf="user.invalid">{{getErrorMessage('email')}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <mat-error *ngIf="user.invalid">{{getErrorMessage('password')}}</mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>
                            <img *ngIf="hide" src="assets/svg/color_d1d2d3/visibility.svg">
                            <img *ngIf="!hide" src="assets/svg/color_d1d2d3/visibility_off.svg">
                        </mat-icon>
                    </button>
                </mat-form-field>
                <mat-checkbox formControlName="acceptTerms">I agree to the <a routerLink="/imprint">terms</a> and <a routerLink="/dataprotection">privacy policy</a></mat-checkbox>
                <button type="submit" [disabled]="!user.valid" class="actionButton enable submit" mat-raised-button>SignUp</button>
            </mat-card-content>
        </form>
    </mat-card>
    <div class="legalNotice">
        <a routerLink="/imprint">Imprint</a>
        <a routerLink="/dataprotection">Dataprotection</a>
    </div>
</div>