<div class="over-container">
    <header>
        <div class="bar-header">
            <button (click)="toggleLeftSidebar()" class="workspace-btn">
                <img *ngIf="leftSideBar" src="assets/svg/color_d1d2d3/left_panel_open.svg">
                <img *ngIf="!leftSideBar" src="assets/svg/color_d1d2d3/left_panel_close.svg">
            </button>
            <h2>Direct messages</h2>

        </div>
    </header>
    <div class="header-container">
        <div class="search-container">
            <div>
                <p>To:</p>
                <div class="select-user-list" *ngFor="let user of usersToChat">
                    <div class="select-user">
                        <div>
                            <img class="user-image" src="{{ user.src }}">
                            <p><strong>{{ user.name }}</strong></p>
                        </div>
                        <div class="x-icon" (click)="deleteUserToChat(user)">
                            <mat-icon>
                                <img class="header-menu-img" src="assets/svg/color_d1d2d3/x.svg">
                            </mat-icon>

                        </div>
                    </div>
                </div>
            </div>
            <div class="search-container">
                <input #searchUserField placeholder="Find user, space = all users" type="text" [ngModel]="mymodel"
                    (ngModelChange)="valuechange($event)" />
            </div>
        </div>
    </div>
    <div class="body-container">
        <div class="search-user-list-container" *ngIf="searchUsers !== ''">
            <div class="search-user-list" *ngFor="let user of allUsers">
                <div *ngIf="user.name.toLowerCase().includes(searchUsers.toLowerCase()) || searchUsers == ' ' "
                    (click)="addUser(user, searchUserField)">
                    <img class="user-image" src="{{ user.src }}">
                    <p><strong>{{ user.name }}</strong></p>
                </div>
            </div>
        </div>
    </div>
    <app-message-editor *ngIf="usersToChat.length > 0" [collectionPath]="this.collPath"
        [thread]="true"></app-message-editor>
</div>